body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

div{
    border: lightgray solid 1px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px
}

.message-info{
    background-color: rgba(0,0,255,0.1) ;
    color: darkblue;
}

.message-success{
    background-color: rgba(0,255,0,0.2);
    color: darkgreen;
}

.message-warning{
    background-color: rgba(255,255,0,0.2);
    color:#666600 ;
}

.message-error{
    background-color: rgba(255,0,0,0.2);
    color: darkred;
}